@use "./admin/app.scss";
@use './admin/mixin';

$color1:white;
$color2:rgb(46,46,46);
$color3:rgb(0,104,136);

body {
    user-select: none;
}

.header{
    @include mixin.flex(row,flex-end,stretch,1.2rem);
    padding: 1rem;
    a {
        color:$color2;
        letter-spacing: 2px;
        font-size: 1.2rem;

        &:hover{
            color:$color3;
        }
    }

    button{
        border:none;
        font-size: 1.2rem;
        cursor: pointer;
        background-color: transparent;
        &:hover{
            color:$color3;
        }

        dialog{
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            width: 100px;
            position: absolute;
            left: calc(100% - 100px);
            top:8%;
            > div {
                @include mixin.flex(column,flex-start,center,0.25rem);
            }
        }
    }
}